In [53]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [180]:
data = pd.read_csv('movie_bd_v5.csv.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008
1543,tt0408345,45000000,82800000,Firewall,Harrison Ford|Paul Bettany|Virginia Madsen|Car...,Richard Loncraine,Nothing Is More Dangerous Than A Man With Ever...,State-of-the-art security system creator Jack ...,105,Thriller,Village Roadshow Pictures|Thunder Road Picture...,2/10/2006,5.4,2006
1137,tt0264395,50000000,42792561,Basic,John Travolta|Connie Nielsen|Samuel L. Jackson...,John McTiernan,Deception is their most deadly weapon.,A DEA agent investigates the disappearance of ...,98,Action|Drama|Mystery|Thriller|Crime,Intermedia Films|Krane Entertainment,4/18/2003,6.0,2003
1240,tt1904996,35000000,46216641,Parker,Jason Statham|Jennifer Lopez|Nick Nolte|Michae...,Taylor Hackford,"To get away clean, you have to play dirty.",A thief with a unique code of professional eth...,118,Action|Crime,SND,1/23/2013,5.6,2013
771,tt1625346,12000000,22939027,Young Adult,Charlize Theron|Patton Oswalt|Patrick Wilson|E...,Jason Reitman,Everyone gets old. Not everyone grows up.,A divorced writer from the Midwest returns to ...,94,Comedy|Drama|Romance,Paramount Pictures|Denver and Delilah Producti...,12/16/2011,5.2,2011

In [55]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [196]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [331]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [195]:
# тут пишем ваш код для решения данного вопроса:
data1 = data[data.budget == data.budget.max()].original_title
data1

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [332]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals  (tt0279111)'

In [194]:
data2 = data[data.runtime == data.runtime.max()].original_title
data2

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [333]:
answers['3'] = '3. Winnie the Pooh'
data3 = data[data.runtime == data.runtime.min()].original_title
data3

768    Winnie the Pooh
Name: original_title, dtype: object

### 4. Какова средняя длительность фильмов?
data.describe()

In [334]:
answers['4'] = '4. 110'
data4 = data['runtime'].mean()
data4

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [335]:
answers['5'] = '5. 107'
data5 = data['runtime'].median()
data5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [336]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar'
profit_max = data[data.profit == data.profit.max()].original_title
profit_max

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [337]:
answers['7'] = '7. The Lone Ranger'
profit_min = data[data.profit == data.profit.min()].original_title
profit_min

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [338]:
answers['8'] = '8. 1478'
revenue_plus = data[data.revenue > data.budget].original_title.count()
revenue_plus

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [339]:
answers['9'] = '9. The Dark Knight'
s = data[data.release_year == 2008]
p = s[s.profit == s.profit.max()].original_title
display(p)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [340]:
answers['10'] = '10. The Lone Ranger'
n = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
m = n[n.profit == n.profit.min()].original_title
m

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [345]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'
data_11 = data.copy()
data_11.genres = data11.genres.str.split('|')
data11_1 = data11.explode('genres')
data11_1['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [344]:
answers['12'] = '12. Drama'
data12 = data[data.profit>0].genres.str.split('|').explode().mode()[0]
data12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [219]:
answers['13'] = '13. Peter Jackson'
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[data.director.str.contains(x)].revenue.sum() 
           for x in directors}).sort_values(ascending = False).head(5)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [348]:
answers['14'] = '14. Robert Rodriguez'
data14 = data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()
data14

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Alexander Witt        1
Corey Yuen Kwai       1
David Leitch          1
Stephen St. Leger     1
Wayne Kramer          1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [237]:
answers['15'] = '15. Chris Hemsworth'
data15 = data.query('release_year == 2012').copy()
data15['cast'] = data15.cast.str.split('|')
data15 = data15.explode('cast')
data15 = data15.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',
                                                         ascending=False)
data15.idxmax()

revenue    Chris Hemsworth
dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [253]:
answers['16'] = '16. Matt Damon'
data16 = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum())
actor16 = data16.value_counts().index[0]
actor16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [257]:
answers['17'] = '17. Action'
data17 = data[data.cast.str.contains("Nicolas Cage")]
cage_genres=data17['genres'].str.cat(sep='|')
cage_genres=pd.Series(cage_genres.split('|'))
cage_genres=cage_genres.value_counts(ascending=False)
print(cage_genres)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [266]:
answers['18'] = '18. K-19: The Widowmaker'
data18 = data[data.production_companies.str.contains("Paramount Pictures")]
paramount_min = data18[data18.profit == data18.profit.min()].original_title
paramount_min

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [279]:
answers['19'] = '19. 2015'
data19 = data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(1)
data19

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [281]:
answers['20'] = '20. 2014'
data20 = data[data.production_companies.str.contains("Warner Bros")]
warner_max = data20.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(1)
warner_max

                 revenue
release_year
2014          3243064519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [300]:
answers['21'] = '21. Сентябрь'
data21 = data.copy()
data21.release_date = pd.to_datetime(data21.release_date)
month = data21['release_month'] = data21.release_date.dt.month
month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [353]:
answers['22'] = '22. 450'
data22 = data.copy()
data22.release_date = pd.to_datetime(data22.release_date)
month1 = data22['release_month'] = data22.release_date.dt.month
v = month1.value_counts()
v.loc[6] + v.loc[7] + v.loc[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [352]:
answers['23'] = '23. Peter Jackson'
data23 = data.copy()
data23['release_date'] = pd.to_datetime(data23['release_date'])
data23[data23.release_date.dt.month.isin([1, 2, 12,])].director.str.split('|').explode('director').value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Adam Shankman        4
                    ..
John Woo             1
Jake Kasdan          1
Sergey Bodrov        1
Jesse Dylan          1
Wayne Kramer         1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [351]:
answers['24'] = '24. Four By Two Productions' 
data24 = data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map
                                         (lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [322]:
answers['25'] = '25. Midnight Picture Show'
data25 = data.copy()
data25['overview_length'] = data25['overview'].str.split(' ').str.len()
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
data25.groupby('production_companies')['overview_length'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [328]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
data26 = data.copy()
procent = np.percentile(data26.vote_average, 99)
data26[data26.vote_average >= procent].sort_values(by='vote_average', 
                                                      ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [356]:
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'
from itertools import combinations
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [357]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'7': '7. The Lone Ranger',
 '6': '6. Avatar',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '9': '9. The Dark Knight',
 '10': '10. The Lone Ranger',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '23': '23. Peter Jackson',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals  (tt0279111)',
 '3': '3. Winnie the Pooh',
 '4': '4. 110',
 '5': '5. 107',
 '8': '8. 1478',
 '11': '11. Drama',
 '14': '14. Robert Rodriguez',
 '24': '24. Four By Two Productions',
 '22': '22. 450',
 '27': '27. Daniel Radcliffe, Rupert Grint'}

In [358]:
# и убедиться что ни чего не пропустил)
len(answers)

27